<footer class="container-fluid text-center footer">
                <div class="text-center center-block">
                    <p >© 2018, All rights reserved
                        Web Design & Development by Akilesh Kumar R</p>
                    <br />
                        <a href="https://www.facebook.com/akilesh212"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                      <a href="https://twitter.com/akilesh212"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                      <a href="https://linkedin.com/akilesh212"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
                      <a href="mailto:akileshbsc91@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
</footer>
