<div class="container text-center min-height" >
  <div class ="col-sm-12">
    <div class="rank_head_section">
      <h3 class="rank_header">{{ 'projectslang.listof' | translate }} <span>{{ 'projectslang.projects' | translate }}</span></h3>
  </div>
 <!--
  Enable HTTP service from API Search Will Work
  <div class ="col-sm-3 pull-right">
    <div class ="input-group">
      <input type ="text" name="searchFor" placeholder ="Search by Event" class="form-control" #searchFor value="{{terms}}">
      <span class="input-group-addon cursor" (click)="search(searchFor.value)"><i class="glyphicon glyphicon-search"></i></span>
    </div>
  </div>
-->
<div class ="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th  class="text-left">{{ 'projectslang.title' | translate }}</th>
        <th  class="text-center">{{ 'projectslang.startdate' | translate }}</th>
        <th  class="text-center">{{ 'projectslang.enddate' | translate }}</th>
        <th  class="text-center">{{ 'projectslang.status' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cursor-pointer" *ngFor = 'let lst of projectData | slice:start:end; let i = index' (click)="openModal(template,lst.ProjectTitle,lst.ProjectDesc,lst.ProjectStartDate,lst.ProjectEndDate,lst.ProjectTechnologies,lst.ProjectClient,lst.ProjectRole,lst.ProjectRoleDesc,lst.ProjectUrl,lst.ProjectStatus,lst.ProjectImageUrl)">
        <th scope="row"  class="text-center">{{serialNoCal(i, currentPage, itemsPerPage)}}</th>
        <td  class="text-left">{{lst.ProjectTitle}}</td>
        <td  class="text-center">{{lst.ProjectStartDate}}</td>
        <td  class="text-center">{{lst.ProjectEndDate}}</td>
        <td  class="text-center">{{lst.ProjectStatus == 1 ? "Completed" : "On Going" }}</td>
      </tr>
      <tr *ngIf="emptyData">
        <td colspan="5">No Data Found !</td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- Pagination Code Starts Here -->
  <div class="row">
    <div class="col-xs-12 col-12" *ngIf="totalItems">
      <pagination [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
    </div>

  </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header" >

    <h4 class="modal-title pull-left"><img [src]="ProjectImageUrl" alt="Client Image" class="img-responsive img-circle " width="64px" height="64px"/>{{ProjectTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <p> {{ProjectDesc}}</p>
        <div class="form-group">
            <label>{{ 'projectslang.projectstartdate' | translate }}</label>
            {{ProjectStartDate}}
          </div>
          <div class="form-group">
            <label>{{ 'projectslang.projectenddate' | translate }}</label>
            {{ProjectEndDate}}
          </div>
          <div class="form-group">
            <label>{{ 'projectslang.client' | translate }}</label>
            {{ProjectClient}}
          </div>
          <div class="form-group">
              <label>{{ 'projectslang.projectrole' | translate }}</label>
              {{ProjectRole}}
          </div>
          <div class="form-group">
              <label>{{ 'projectslang.projectdescription' | translate }}</label>
              {{ProjectDesc}}
          </div>
          <div class="form-group">
              <label>{{ 'projectslang.projecttechnologies' | translate }}</label>
              {{ProjectTechnologies}}
          </div>

          <div class="form-group">
              <label>{{ 'projectslang.projectstatus' | translate }}</label>
              {{ProjectStatus}}
          </div>
          <div class="form-group">
              <label>{{ 'projectslang.projecturl' | translate }}</label>
              {{ProjectUrl}}
          </div>
    </div>
</ng-template>