<div class="rank_head_section">
  <h3 class="rank_header">{{ 'techlang.known' | translate }} <span>{{ 'techlang.technologies' | translate }}</span></h3>
</div>
<div class="container">
  <div class="col-md-4 col-sm-6 co-xs-12 gal-item" *ngFor = 'let lst of galleryData;let i = index'>
    <div class="box">
      <a href="javascript:void(0);" (click)="openModal(template,lst.ImageTitle,lst.ImageUrl,lst.ImageRating)">
        <img [src]="lst.ImageUrl" class="img-responsive img-thumbnail">
      </a>
    </div>
  </div>
</div>
<ng-template #template>
    <div class="modal-header" >
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <img [src]="modalImageUrl" width="400" height="auto">
    </div>
    <div class="modal-footer" >
        <h4 class="modal-title pull-left">{{ 'techlang.rating' | translate }}
            <span class="fa fa-star checked" [ngClass]="{'orange': (index+1 <= modalRating) }" *ngFor="let a of fakeArray; let index = index"></span>
        </h4>
    </div>
  </ng-template>