<div class="container banner">
  <div class="banner-top"></div>
  <div class="row">
    <div class="col-sm-12">
      <carousel [interval]=3000>
        <slide *ngFor = 'let lst of bannerData'>
          <img [src]="lst.BannerUrl" alt="Slide {{lst.index}}" style="display: block; width: 100%; ">
          <div class="carousel-caption">
            <h4>{{lst.BannerTitle}}</h4>
            <p>{{lst.BannerDesc}}</p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <hr>
  </div>