
<div class="container text-center">
  <br>
  <div class="row">
    <div class="col-md-8">
        <div class="feature">
            <img src="assets/images/about.jpg" alt="about" class="img-responsive img-circle " width="200px" height="200px"/>
              <h3>Web Developer</h3>
              <div class="title_border"></div>
              <p>Hello all a little about me !!! </p>
              <p>I'm Akilesh from Chennai. I'm a Post Graduate MCA degree holder. I'm having a 2+ years of experience in website development. Currently, I'm worked in SRM Technologies Pvt Ltd., Chennai. So far, I had worked in 5 projects and I'm experienced in the following technologies like HTML, PHP, CodeIgniter,Moodle LMS,  Bootstrap, jQuery, MySQL and Angular 2. For freelancing or full Time work please reach me out !!</p>
              <p>e-mail: <a href="mailto:akileshbsc91@gmail.com" target="_top">akileshbsc91@gmail.com</a></p>
              <address>
                    Visit me at:<br>
                    BSR Apartment, Block-2, Flat-F2 <br>
                    Chrompet - 600044
              </address>
      </div>
    </div>
    <div class="col-md-4">
    <!-- Fluid width widget -->
        <div class="panel panel-danger">
              <div class="panel-heading">
                  <h3 class="panel-title">
                      <span class="glyphicon glyphicon-education"></span> 
                      Acheivements
                  </h3>
              </div>
              <div class="panel-body">
                  <ul class="media-list">
                      <li class="media cursor-pointer" *ngFor = "let EventData of MoreeventsData" (click)="openModal(template,EventData.EventTitle,EventData.EventDesc,EventData.EventImageUrl)">
                          <div class="media-left">
                              <div class="panel panel-danger text-center date">
                                  <div class="panel-heading month">
                                      <span class="panel-title strong">
                                          {{EventData.EventStartDate | date:'MMM yy'}}
                                      </span>
                                  </div>
                                  <div class="panel-body day text-danger">
                                    {{EventData.EventStartDate | date:'dd'}}
                                  </div>
                              </div>
                          </div>
                          <div class="media-body">
                              <h4 class="media-heading">
                                  {{EventData.EventTitle}}
                              </h4>
                              <p>
                                  {{EventData.EventDesc}}
                              </p>
                          </div>
                      </li>
                  </ul>
                  <a [routerLink] = "['/moreevents']" class="btn btn-default btn-block moreevents">More Achievements »</a>
              </div>
          </div>
    <!-- End fluid width widget -->
    </div>
  </div>
  <hr>
</div>
<!-- stats -->
<div class="stats" id="stats">
		<div class="container">
			<div class="col-md-3 stats_left w3_counter_grid">
				<i class="fa fa-child" aria-hidden="true"></i>
				<p class="counter">{{count1}}%</p>
                <h3>SSLC</h3>
                <h4>2007 - 2008</h4>
			</div>
			<div class="col-md-3 stats_left w3_counter_grid1">
				<i class="fa fa-book" aria-hidden="true"></i>
				<p class="counter">{{count2}}%</p>
                <h3>HSC</h3>
                <h4>2009 - 2010</h4>
			</div>
			<div class="col-md-3 stats_left w3_counter_grid2">
				<i class="fa fa-university" aria-hidden="true"></i>
				<p class="counter">{{count3}}%</p>
                <h3>UG - B.Sc </h3>
                <h4>2010 - 2013</h4>
			</div>
			<div class="col-md-3 stats_left w3_counter_grid3">
				<i class="fa fa-mortar-board" aria-hidden="true"></i>
				<p class="counter">{{count4}}%</p>
                <h3>PG - MCA</h3>
                <h4>2013 - 2015</h4>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
  <!-- //stats -->
  <!-- Rank Holders -->
<div class="container text-center">
    <div class="rank_head_section">
        <h3 class="rank_header">Worked<span> Projects</span></h3>
    </div>
  <carousel  [interval]=3000>
    <slide *ngFor = 'let lst of RankholdersData'>
            <div class="test-grid">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>{{lst.StudentDesc}}</p>
                <div class="test-grid1">
                    <div class="test-grid2">
                        <img [src]="lst.ImageUrl" alt="Slide {{lst.index}}" class="img-responsive img-circle" width="80px" height="80px">
                    </div>
                    <div class="test-grid2_text">
                        <h4>{{lst.StudentName}}</h4>
                        <span>{{lst.StudentTitle}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          </slide>
</carousel>
</div>
<br>
<!-- Rank Holders -->
<!-- Map -->
<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.274538052861!2d80.14316881437506!3d12.95427639086722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525e4d08a772c7%3A0x30c07d6b183e63ca!2sBSR+Castle+Flats!5e0!3m2!1sen!2sin!4v1520159036227" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
  <!-- Map -->
  <ng-template #template>
    <div class="modal-header" >
      <h4 class="modal-title pull-left">{{modalTitle}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{modalDesc}}
      <img [src]="modalImageUrl" class ="img-responsive">
    </div>
  </ng-template>